@tailwind base;
@tailwind components;
@tailwind utilities;

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    grid-template-rows: 1fr;
}

.category-grid.collapsed {
    grid-auto-rows: 0;
    overflow-y: hidden;
}